@use "styles/_colors";

.game_piece_selection_container {
    background-color: colors.$semi_dark_navy;
    box-shadow: inset 0px -8px 0px colors.$semi_dark_navy_drop_shadow;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    margin: 2rem 0 2rem 0;
}
