$light_blue: hsl(178, 60%, 48%);
$light_blue_hover: hsl(178, 75%, 65%);
$light_blue_drop_shadow: hsl(178, 78%, 31%);

$light_yellow: hsl(39, 88%, 58%);
$light_yellow_hover: hsl(39, 100%, 69%);
$light_yellow_drop_shadow: hsl(39, 83%, 44%);

$dark_navy: hsl(202, 32%, 15%);

$semi_dark_navy: hsl(199, 35%, 19%);
$semi_dark_navy_drop_shadow: hsl(201, 45%, 11%);

$silver: hsl(198, 23%, 72%);
$silver_hover: hsl(197, 33%, 89%);
