@use "breakpoints";

@mixin mobile {
    @media (max-width: breakpoints.$mobile) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: breakpoints.$tablet) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: breakpoints.$desktop) {
        @content;
    }
}
