.new_game_menu_container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    width: 20.5rem;
}

.new_game_menu_logo {
    margin-bottom: 2rem;
}

.new_game_menu_logo_game_piece_selection {
    margin-bottom: 2rem;
    width: 100%;
}

.new_game_menu_logo_button_container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
}
