@use "styles/colors";

@mixin button_large_base($color, $drop_shadow_color) {
    background-color: $color;
    box-shadow: inset 0 -0.5em 0 $drop_shadow_color;
    border-radius: 1em;
    padding: 0.875em 0 1.375em 0;
    text-align: center;
}

@mixin button_hover($color) {
    background-color: $color;
    cursor: pointer;
}

@mixin button_large_active($color) {
    transform: translateY(0.25em);
    background-color: $color;
    box-shadow: none;
}

@mixin button_medium_base($color, $drop_shadow_color) {
    background-color: $color;
    box-shadow: inset 0 -4px 0 $drop_shadow_color;
    border-radius: 10px;
    padding: 0.9375em 1em 1.0625em 1.0625em;
    text-align: center;
}

.button_light_yellow_large {
    @include button_large_base(
        colors.$light_yellow,
        colors.$light_yellow_drop_shadow
    );
}

@media (hover: hover) {
    .button_light_yellow_large:hover {
        @include button_hover(colors.$light_yellow_hover);
    }
}

.button_light_yellow_large:active {
    @include button_large_active(colors.$light_yellow);
}

.button_light_blue_large {
    @include button_large_base(
        colors.$light_blue,
        colors.$light_blue_drop_shadow
    );
}

@media (hover: hover) {
    .button_light_blue_large:hover {
        @include button_hover(colors.$light_blue_hover);
    }
}

.button_light_blue_large:active {
    @include button_large_active(colors.$light_blue);
}

.button_silver_large {
    @include button_large_base(colors.$silver, colors.$silver_drop_shadow);
}

@media (hover: hover) {
    .button_silver_large:hover {
        @include button_hover(colors.$silver_hover);
    }
}

.button_silver_large:active {
    @include button_large_active(colors.$silver);
}

.button_light_yellow_medium {
    @include button_medium_base(
        colors.$light_yellow,
        colors.$light_yellow_drop_shadow
    );
}

.button_light_yellow_medium:active {
}

.button_silver_medium {
    @include button_medium_base(colors.$silver, colors.$silver_drop_shadow);
}

.button_silver_medium:active {
}
