@use "styles/colors";

@mixin button_base($color, $drop_shadow_color) {
    background-color: $color;
    box-shadow: inset 0 -0.5em 0 $drop_shadow_color;
    border-radius: 1em;
    padding: 0.875em 0 1.375em 0;
    text-align: center;
}

@mixin button_hover($color) {
    background-color: $color;
    cursor: pointer;
}

@mixin button_active($color) {
    transform: translateY(0.25em);
    background-color: $color;
    box-shadow: none;
}

.button_primary {
    @include button_base(
        colors.$light_yellow,
        colors.$light_yellow_drop_shadow
    );
}

@media (hover: hover) {
    .button_primary:hover {
        @include button_hover(colors.$light_yellow_hover);
    }
}

.button_primary:active {
    @include button_active(colors.$light_yellow);
}

.button_secondary {
    @include button_base(colors.$light_blue, colors.$light_blue_drop_shadow);
}

@media (hover: hover) {
    .button_secondary:hover {
        @include button_hover(colors.$light_blue_hover);
    }
}

.button_secondary:active {
    @include button_active(colors.$light_blue);
}
