@use "styles/colors";

.button_primary {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    background-color: colors.$light_yellow;
    border-radius: 1rem;
    box-shadow: inset 0px -8px 0px colors.$light_yellow_drop_shadow;
}

@media (hover: hover) {
    .button_primary:hover {
        background-color: colors.$light_yellow_hover;
        cursor: pointer;
    }
}

.button_primary:active {
    transform: translateY(4px);
    background-color: colors.$light_yellow;
    box-shadow: none;
}

.button_secondary {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 3.5rem;
    background-color: colors.$light_blue;
    border-radius: 1rem;
    box-shadow: inset 0px -8px 0px colors.$light_blue_drop_shadow;
}

@media (hover: hover) {
    .button_secondary:hover {
        background-color: colors.$light_blue_hover;
        cursor: pointer;
    }
}

.button_secondary:active {
    transform: translateY(4px);
    background-color: colors.$light_blue;
    box-shadow: none;
}
