@use "styles/colors";

.game_over_container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.game_over_content {
    background-color: colors.$semi_dark_navy;
    padding: 2.5em 0 3em 0;
}

.game_over_winner_container {
    margin: 1em 0 1.5em 0;
}

.game_over_buttons_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1em;
}
