@use "styles/_colors";

.game_piece_selection_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: colors.$semi_dark_navy;
    box-shadow: inset 0px -8px 0px colors.$semi_dark_navy_drop_shadow;
    border-radius: 1rem;
    padding: 1.5rem 1.5rem 1.5rem 1.5rem;
}
