@use "styles/colors";

.game_piece {
    user-select: none;
}

.game_piece_large {
    max-width: 2.5em;
    max-height: 2.5em;
}

.game_piece_medium {
    max-width: 2em;
    max-height: 2em;
}

.game_piece_small {
    max-width: 1em;
    max-height: 1em;
}
