@use "styles/_colors";

.game_piece_selection_slider_container {
    display: flex;
    flex-direction: row;
    width: 17.5rem;
    height: 4.5rem;
    background-color: colors.$dark_navy;
    border-radius: 0.625rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
}

.game_piece_selection_slider_piece_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    cursor: pointer;
}

.game_piece_selection_slider_selected {
    background-color: colors.$silver;
    border-radius: 0.625rem;
    transition: background-color 0.25s ease-in-out;
}
