@use "styles/colors";

@mixin game_piece_place() {
    background-color: colors.$semi_dark_navy;
    max-width: 6em;
    max-height: 6em;
    border-radius: 0.625em;
    box-shadow: inset 0 -0.5em 0 colors.$semi_dark_navy_drop_shadow;
}

.game_piece_place_empty {
    @include game_piece_place();
    padding: 3em;
}

.game_piece_place_filled {
    @include game_piece_place();
    padding: 1.5em 1.75em 3em 1.75em;
}
