@use "styles/_colors";

.game_piece_selection_slider_container {
    display: flex;
    background-color: colors.$dark_navy;
    border-radius: 0.625rem;
    padding: 0.5rem;
}

.game_piece_selection_slider_piece_container {
    flex: 1;
    text-align: center;
    cursor: pointer;
}

.game_piece_selection_slider_selected {
    background-color: colors.$silver;
    border-radius: 0.625rem;
    transition: background-color 0.25s ease-in-out;
}
