@use "styles/colors";

.game_piece_large {
}

.game_piece_medium {
    width: 2rem;
    height: 2rem;
}

.game_piece_small {
}

.game_piece_silver {
    stroke: colors.$silver;
}

.game_piece_dark_navy {
    stroke: colors.$dark_navy;
}
