@use "styles/colors";

.turn_status {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    background-color: colors.$semi_dark_navy;
    border-radius: 0.3125em;
    padding: 0.625em 1em 0.75em 1em;
    box-shadow: inset 0 -0.25em 0 colors.$semi_dark_navy_drop_shadow;
}
