@use "styles/colors";

$font_color: colors.$silver;
$medium_weight: 500;
$bold_weight: 700;

.typography_container {
    color: $font_color;
    text-transform: uppercase;
}

.typography_half_opacity {
    opacity: 0.5;
}

.typography_large {
    font-weight: $bold_weight;
    font-size: 2.5rem;
}

.typography_medium {
    font-weight: $bold_weight;
    font-size: 1.5rem;
}

.typography_small {
    font-weight: $bold_weight;
    font-size: 1.25rem;
}

.typography_extra_small {
    font-weight: $bold_weight;
    font-size: 1rem;
}

.typography_body {
    font-weight: $medium_weight;
    font-size: 0.875rem;
}

.typography_dark_navy {
    color: colors.$dark_navy;
}
