@use "styles/colors";
@use "styles/mixins";

$mobile_width: 20.5rem;
$standard_width: 28.75rem;

.main-section {
}

.current-page {
    max-width: $standard_width;
    margin: 7.5rem auto 0 auto;

    @include mixins.mobile {
        max-width: $mobile_width;
    }
}
