# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js deploy pipeline

on:
    push:
        branches: [master]

jobs:
    build:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [16.x]
        steps:
            - uses: actions/checkout@v2
            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v2
              with:
                  node-version: ${{ matrix.node-version }}
            - name: Install dependencies
              run: rm -rf node_modules && yarn install --immutable
            - name: Run tests
              run: yarn test
            - name: Build React app
              run: yarn run build
            - name: Deploy to pages
              run: |
                git config --global user.name $user_name
                git config --global user.email $user_email
                git remote set-url origin https://${github_token}@github.com/${repository}
                yarn run deploy
              env:
                user_name: 'github-actions[bot]'
                user_email: 'github-actions[bot]@users.noreply.github.com'
                github_token: ${{ secrets.ACTIONS_DEPLOY_ACCESS_TOKEN }}
                repository: ${{ github.repository }}
